.all-times {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-template-areas:
    ". . ."
    ". logo ."
    ". absolute ."
    ". relative . "
    ". . . ";
}

.logo {
  grid-area: logo;
  display: flex;
  justify-self: center;
  text-align: center;
}

.time-absolute {
  grid-area: absolute;
  display: flex;
  justify-self: center;
}

.time-relative {
  grid-area: relative;
  display: flex;
  justify-self: center;
}

.time {
  margin: 1em;
  padding: 1em;
  font-size: large;
  width: 6em;
}
