<!-- fallow-ignore-file complexity -->
<ng-container *transloco="let translate">
  <div class="all-times"
       id="userguide-overview"
  >
    <app-settings-toolbar
      class="toolbar"
      id="userguide-language"
    ></app-settings-toolbar>

    <div class="logo">
      <app-nadin-logo></app-nadin-logo>
    </div>
    <div class="time-absolute"
         id="userguide-absolute-times"
    >
      <button
        *ngIf="!showCustomPanel && showDebug"
        mat-raised-button
        (click)="startTimerMinutes(0.1)"
        class="time"
      >
        DEV
      </button>

      <button
        *ngIf="!showCustomPanel"
        mat-raised-button
        matTooltip="{{translate('minutesFromNow',{'mins':5})}}"
        (click)="startTimerMinutes(5)"
        class="time"
      >
        5{{ translate('min') }}
      </button>

      <button
        *ngIf="!showCustomPanel"
        mat-raised-button
        matTooltip="{{translate('minutesFromNow',{'mins':10})}}"
        (click)="startTimerMinutes(10)"
        class="time"
      >
        10{{ translate('min') }}
      </button>

      <button
        mat-raised-button
        matTooltip="{{translate('minutesFromNow',{'mins':15})}}"
        (click)="startTimerMinutes(15)"
        class="time"
        *ngIf="!showCustomPanel"
      >
        15{{ translate('min') }}
      </button>

      <div
        *ngIf="showCustomPanel"
        class="custom"
      >
        <button
          mat-raised-button
          matTooltip="{{translate('minutesFromNow',{'mins':customMinutes})}}"
          (click)="startTimerMinutes(customMinutes)"
          class="custom time"
          id="userguide-custom-start"
        >
          {{ customMinutes }}{{ translate('min') }}
        </button>

        <mat-form-field
          id="userguide-custom-input"
          appearance="fill"
          class="middle minutes"
        >
          <input matInput
                 type="number"
                 [value]="''+customMinutes"
                 (keyup)="customChanged($event)"
                 (click)="customChanged($event)"
                 min="1"
          >
          <mat-label>Minuten</mat-label>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        matTooltip="custom"
        (click)="toggleCustomTime()"
        class="time"
        id="userguide-custom-times"
      >
        🛠 ??:??
      </button>
    </div>

    <div class="time-relative"
         id="userguide-relative-times"
    >
      <button
        mat-raised-button
        matTooltip="bis Viertel nach"
        (click)="untilQuarterPast()"
        class="time"
      >
        🕒 :15
      </button>

      <button
        mat-raised-button
        matTooltip="bis Halb"
        (click)="untilHalfPast()"
        class="time"
      >
        🕞 :30
      </button>

      <button
        mat-raised-button
        matTooltip="bis Viertel vor"
        (click)="untilQuarterBefore()"
        class="time"
      >
        🕘 :45
      </button>

      <button
        mat-raised-button
        matTooltip="bis Voll"
        (click)="untilFull()"
        class="time"
      >
        🕛 :00
      </button>
      <!--    <button-->
      <!--      mat-raised-button-->
      <!--      matTooltip="TEST"-->
      <!--      (click)="someSeconds()"-->
      <!--      class="time"-->
      <!--    >-->
      <!--      !!!!TEST!!!!-->
      <!--    </button>-->
    </div>
  </div>
</ng-container>
