.all-times {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow: auto;
}

.logo {
  flex-grow: 1;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.toolbar {
  flex-grow: 0;
  //justify-self: center;
  width: 100%;
}

.time-absolute {
  flex-grow: 0;
  justify-self: center;
}

.time-relative {
  flex-grow: 0;
  justify-self: center;
}

.time {
  margin: 0.2em;
  padding: 1em;
  font-size: larger;
  width: 6em;
  height: 5em;
}

.custom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.minutes {
  width: 5em;
}
