
.fake-status {
  width: 100%;
  position: absolute;
  bottom: 1em;
  display: inline-block;
  font-size: x-large;
  color: gray;
  //background-color: lightblue;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
