.divider-logo {
  max-height: 15em;
}

.timer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.time {
  font-size: 20em;
  //font-size: xx-large;
  color: gray;
  font-family: monospace;
}

.seconds {
}

.minutes {
}

.back {
  position: absolute;
  right: 1em;
  top: 0.5em;
}
