<app-timer-progress
  class="progress-timer"
  [fromTime]="this.startTime"
  [toTime]="this.targetTime"
></app-timer-progress>

<div class="timer"
     (click)="stopElevatorMusic()"
>
  <span class="time minutes"
        [ngClass]="{
        'blink':isDone(),
        'close-to-end':isCloseToEnd(),
        'near-to-end':isNearToEnd()
        }"
  >{{ minutes }}</span>
  <app-status-logo
    class="divider-logo"
    [seconds]="seconds"
    [minutes]="minutes"
  ></app-status-logo>
  <span class="time seconds"
        [ngClass]="{
        'blink':isDone(),
        'close-to-end':isCloseToEnd(),
        'near-to-end':isNearToEnd()
        }"
  >{{ seconds }}</span>
</div>

<app-fake-status
  *ngIf="seconds !== '00' || minutes !== '00'"
  class="fake-timer"
></app-fake-status>

<div class="back" matTooltip="zur Zeitauswahl">
  <a
    [routerLink]="['/']"
    [queryParams]="{
                       application: themeDeciderService.application,
                       lang:themeDeciderService.language
    }"
  >
    <fa-icon [icon]="['fas', 'history']"></fa-icon>
  </a>
</div>


<div class="alarmTrigger" matTooltip="manually trigger alarm"
     (click)="triggerAlarm()"
>
  <fa-icon [icon]="['fas', 'bullhorn']"></fa-icon>
</div>

<div class="musicAttribution"
     *ngIf="showMusicAttribution"
>
  Music by Lesfm via Pixabay --
  https://pixabay.com/music/elevator-music-elevator-music-bossa-nova-background-music-version-60s-10900/
</div>

